# --- Java & Maven ---
target/
*.class
*.jar
*.war
*.ear

# --- JDK & Runtimes (Apenas na raiz) ---
/.jdk/
/jdk*/
*.zip
*.tar.gz
*.msi
*.exe

# --- IDEs (VS Code, IntelliJ) ---
.vscode/
.idea/
*.iml
.settings/
.project
.classpath
bin/

# --- Arquivos do Sistema ---
Thumbs.db
.DS_Store

# --- Dados do Banco Binário (AEDS III) ---
*.index